<html>
   <img ng-src="{{sImage}}" align="top"
                 
                 style="height:100px; width:100px" />
    
<h1>{{message}}</h1>
<div>
    Hello, Welcome to my first Bolg.Hope you will have good time here.
</div>
<ul>
    <li>Training delivered by real time software experts having more than 10 years of experience.</li>
    <li>Realtime projects discussion relating to the possible interview questions.</li>
    <li>Trainees can attend training and use lab untill you get a job.</li>
    <li>Resume preperation and mock up interviews.</li>
    <li>100% placement assistance.</li>
    <li>Lab facility.</li>
</ul></html>
